<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/navbar.css">
	<!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title>Startseite | API LEV MV</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
    
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .flex {
            display: flex;
        }
        .item {
            width: 20%;
        }
		a {
			color: black;
			text-decoration: none;
		}
    </style>
</head>
<body>
	<header id="navbar">
		<nav class="navbar-container container">
		  <a href="/ligaauswahl" class="home-link">
			<!-- <div class="navbar-logo"></div> -->
			API Zentrum | LEV MV
		  </a>
		</nav>
	</header>
    <ul class="auswahl-links">
        <li class="auswahl-item"><a class="navbar-link" href="/u15">U13 / U15</a></li>
        <li class="auswahl-item"><a class="navbar-link" href="/ostseeliga">Ostseeliga</a></li>
    </ul>
</body>
</html>